@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

@media screen and (min-width: 1001px) {
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #121212;
    color: #ccc;
}

h2 {
    color: #ccc;
}

.sobra-card {
    display: inline-table;
    width: 10%;
    padding: 15px;
    margin-top: 100px;
    margin-bottom: 15px;
    margin-left: 3%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #1E1E1E;
    color: #ccc;
    transition: 0.2s;
}
.sobra-card:hover {
    border: 1px solid #f95d6a;
    cursor: pointer;
    transition: 0.2s;
}

.sobra-card img {
    margin-top: 10px;
    width: 95%;
    border-radius: 4px;
}

.sobra-reservada {
    color: #FFA500;
}

.remover-btn {
    background-color: rgb(153, 4, 4);
    color: white;
    margin-bottom: 20px;
    border: none;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.reservar-toggle-btn {
    width: 90%;
    background-color: #007fc7;
    color: white;
    border-radius: 10px;
    margin-left: 5%;
}
.input-reservar-sobra {
    margin-bottom: 5px;
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
}
.reservar-btn {
    width: 70%;
    margin-left: 15%;
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.t-sobras-encontradas {
}

.voltar-btn {
    background-color: #f95d6a;
    position: fixed;
    left: 90%;
    top: -0.5vh;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
}

.sobra-img {
        cursor: pointer;
        transition: all 0.3s ease;
        border-radius: 5px;
    }

.sobra-img.expanded {
    position: fixed;
    left: 25%;
    bottom: 10vh;
    width: 50%;
    height: 80vh;
    z-index: 9999;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.8);
    border: 4px solid white;
    background: white;
    }

body.no-scroll {
        overflow: hidden;
    }
}