@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

@media screen and (min-width: 1001px) {
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f6f8;
    color: #ccc;
}

h2 {
    color: #1E1E1E;
}

.sobra-card {
    display: inline-table;
    position: relative;
    width: 250px;
    height: 200px;
    padding: 15px;
    margin-top: 100px;
    margin-bottom: 15px;
    margin-left: 3%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.13);
    border-radius: 8px;
    background-color: white;
    color: gray;
    overflow: hidden;
}
.sobra-card:hover {
    cursor: pointer;
}
.sobra-card::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: #2563EB;
    transition: 0.1s;
}
.sobra-card:hover::before {
    width: 5px;
}



.sobra-card img {
    margin-top: 10px;
    width: 95%;
    border-radius: 4px;
}

.sobra-reservada {
    color: #FFA500;
}

.remover-btn {
    background-color: rgb(194, 0, 0);
    color: white;
    margin-bottom: 20px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.reservar-toggle-btn {
    width: 90%;
    background-color: #2563EB;
    padding: 5px;
    color: white;
    border-radius: 5px;
    margin-left: 5%;
    border: none;
}
.reservar-toggle-btn:hover {
    background-color: #0056b3;
}
.input-reservar-sobra {
    margin-bottom: 5px;
    width: 90%;
    margin-left: 5%;
    border-radius: 5px;
}
.reservar-btn {
    width: 70%;
    margin-left: 15%;
    background-color: green;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.reservar-btn:hover{
    cursor: pointer;
}

.t-sobras-encontradas {
}

.voltar-btn {
    background-color: #2563EB;
    position: fixed;
    left: 90%;
    top: -0.5vh;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
}

.sobra-img {
        cursor: pointer;
        transition: all 0.3s ease;
        border-radius: 5px;
    }

.sobra-img.expanded {
    position: fixed;
    left: 25%;
    bottom: 10vh;
    width: 50%;
    height: 80vh;
    z-index: 9999;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.8);
    border: 4px solid white;
    background: white;
    }

body.no-scroll {
        overflow: hidden;
    }


.editar-btn {
    font-weight: bolder;
    color: gray;
    text-decoration: none;
    transition: 0.3s;
}
.editar-btn:hover {
    text-decoration: underline;
    transition: 0.3s;
}

.box-editar-sobra {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-editar-sobra {
    background-color: #1E1E1E;
    text-align: center;
    padding: 100px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.btn-salvar-editar {
    background-color: #007fc7;
    color: white;
    margin-top: 30px;
    width: 60%;
}

.btn-voltar-editar {
    background-color: #f95d6a;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    position: relative;
    bottom: 103vh;
    font-size: 1em;
    left: 90%;
}

.t-h1-editar-sobra {
    font-size: 3em;
    position: relative;
    top: 4.5vh;
}

.form-editar-sobra input {
    font-size: 1em;
    border-radius: 5px;
}

}